<h3><%= @topic.title %></h3>
<div class="input-field">
  <textarea class="materialize-textarea"></textarea>
  <button class="btn">Add Comment</button>
</div>


<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
      window.createSocket(<%= @topic.id %>)
  })
</script>
